*.dcu
*.dproj.local
*.identcache
tests/__history/
tests/Win32/
tests/dunitx-results.xml
*.otares
*.stat
tests/TestInsightSettings.ini
*.~1~
demos/delphi/vcl/Import/__history/
demos/delphi/vcl/Import/__recovery/__recovery.ini
*.~2~
*.~3~
__history
*.local
*.vlb
*.rsm
*.exe
*.bak
*.o
*.ppu
*.compiled
*.or
*.dbg
*.map
*.tds
*.drc
*.MSR
*.nmt
demos/lazarus/BIGrid/lib/
*.nlt
demos/delphi/vcl/Query/Select_Queries/Win32/Debug/TeeBI_Select_Queries_MemoryManager_EventLog.txt
demos/delphi/firemonkey/Speed/Android/
demos/lazarus/Components/lib/
demos/experiments/speed/FDMemTable_Sqlite_Queries/OSX32/
demos/delphi/firemonkey/Speed/OSX32/
*.~html
*.lps
demos/delphi/FMXLinux/Export/PDF/Linux64/
demos/delphi/FMXLinux/Grid/Linux64/
demos/delphi/FMXLinux/Query/Summary/Linux64/
demos/delphi/FMXLinux/Speed/Linux64/
demos/delphi/firemonkey/Speed/Linux64/
demos/delphi/firemonkey/Speed/TeeBI_Speed_FMX.deployproj
demos/delphi/firemonkey/Query/Summary/TeeBI_FMX_Summary.deployproj
demos/delphi/firemonkey/Query/Summary/Linux64/
demos/delphi/firemonkey/Grid/TeeBI_Grid_Demo_FMX.deployproj
demos/delphi/firemonkey/Grid/Linux64/
demos/delphi/firemonkey/Expressions/TeeBI_Expressions_Test.deployproj
demos/delphi/firemonkey/Expressions/Linux64/
sources/Compiled/
sources/Temp/
sources/packages/lib/x86_64-win64/
sources/Lazarus/
