*.dcu
*.dproj.local
*.identcache
tests/__history/
tests/Win32/
tests/dunitx-results.xml
*.otares
*.stat
tests/TestInsightSettings.ini
*.~1~
demos/delphi/vcl/Import/__history/
demos/delphi/vcl/Import/__recovery/__recovery.ini
*.~2~
*.~3~
__history
*.local
*.vlb
*.rsm
*.exe
*.bak
*.o
*.ppu
*.compiled
*.or
*.dbg
*.map
*.tds
*.drc
*.MSR
*.nmt
demos/lazarus/BIGrid/lib/
*.nlt
demos/delphi/vcl/Query/Select_Queries/Win32/Debug/TeeBI_Select_Queries_MemoryManager_EventLog.txt
